/* rating.component.css */

.rating {
  width: 300px; /* Set the width of the rectangle as needed */
  height: 50px; /* Set the height of the rectangle as needed */
  border: 1px solid #ccc; /* Rectangle border */
  position: relative;
  cursor: pointer;
}

.rectangle {
  width: 0;
  height: 100%;
  background-color: #f5a623; /* Default background color */
  transition: width 0.3s ease; /* Smooth animation on rating change */
  position: absolute;
}

.triangle-custom {
  /* width: 0;
  height: 100%;
  background-color: white;
  position: relative;
  z-index: 1;
  width: 400px;
  height: 0;
  border-left: 50px solid transparent; 
  border-right: 50px solid transparent;
  border-bottom: 100px solid white;
  transform: rotate(-11deg); */
  width: 308px;
  height: 50px;
  background: linear-gradient(to bottom right, #fff 0%, #fff 50%, transparent 50%, transparent 100%);
}
